body {
  background-color: rgb(0, 0, 0);
}
@font-face {
  font-family: "DisketMono";
  src: url(../assets/fonts/DisketMono/Disket-Mono-Regular.ttf);
}
@font-face {
  font-family: "OpenSans";
  src: url(../assets/fonts/OpenSans/OpenSans.ttf);
}

h1 {
  font-weight: normal;
  font-size: 42pt;
  margin-bottom: 0;
  margin-top: 20px;
}
h2 {
  font-weight: normal;
  margin-top: 0;
}

.backcover {
  background-color: rgb(255, 0, 0);
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 2px;
}
.header {
  display: flex;
  height: 150px;
  background-color: white;
  border-bottom: 1px solid #12b82e;
}

.leftColumn {
  flex: 1;
  padding: 10px;
}

.leftColumn .titleLink {
  text-decoration: none;
  font-family: "DisketMono";
  color: black;
}

.verticalDivider {
  width: 1px;
  background-color: #ffffff;
  height: 100%;
}

.rightColumn {
  flex: 1;
  margin-top: 30px;
  padding: 10px;
}
.rightColumn .field {
  justify-self: flex-end;
  width: 580px;
  margin-right: 30px;
}
.topLinks,
.bottomLinks {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: stretch;
  font-family: "OpenSans";
  font-size: 21pt;
}

.topLinks a {
  text-decoration: none;
  padding-left: 20px;
    padding-right: 20px;

  color: black;
}

/* .black-background {
    background-color: black;
    padding: 2px 5px;
    margin: 0 5px;
}

.black-background a {
    text-decoration: none;
    color: white;
} */

/* .content {
    padding: 20px;
}

.popular {
    margin: 0 0 20px;
}

.content-columns {
    display: flex;
    align-items: flex-start;
    height: 600px /* Выравниваем по верхнему краю 
} */

/* .unique-divider {
    width: 2px; 
    background-color: #ff5733;
    height: 100%; 
    margin: 0 20px; 
}

.left-content, .right-content {
    flex: 1;
    position: relative; 
}

.news-label {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: black;
    color: white;
    padding: 5px 10px;
    font-weight: bold; 
} */

/* .content-image {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
    border: 1px solid black;
}

.content-text {
    margin: 10px 0;
} */

/* Обычный */
/* @font-face {
	font-family: 'FontName'; 
	src: url(/fonts/font.ttf); 
} */

/* Жирный */
/* @font-face {
	font-family: 'FontName bold'; 
	src: url(/fonts/font-bold.ttf); 
}
 
.text-1 {
	font-family: 'FontName'; 
	font-size: 20px;
}
 
.text-2 {
	font-family: 'FontName bold'; 
	font-size: 20px;
} */
